<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}" (keyup)="validation(item.task, i)">
            <button (click)="deleteItem(i)">
                <img src="assets/icons/icon-trash.svg" alt="trash">
            </button>
        </li>
    </ul>
</section>

<app-todo-input-add-item (emitItemTaskList)="setEmitTaskItem($event)"></app-todo-input-add-item>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAll()"></app-todo-button-delete-all>
